@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --azul-principal: #9978e4;
}

.btn-primary{
    background-color: var(--azul-principal) !important;
    border-color: #9978e4 !important;
    

}
.btn-outline-success{
    color: #9978e4 !important;
    border-color: var(--azul-principal) !important;
    font-size: 1.3rem !important;
    
}

.btn-outline-success:active{
    color: var(--azul-principal) !important;
    border-color: #fff !important;
    background-color: #fff !important;
}
.btn-outline-success:hover{
    color: var(--azul-principal) !important;
    border-color: #fff !important;
    background-color: #fff !important;
}

.a {
    background-color: var(--azul-principal) !important;
}
.card {
    margin: 0 auto;
}